<div ng-controller='TableController'>

  <h1>Assign Tables</h1>
  <ul ng-model='tables.numTables'>
  <li >{{tables.numTables}} Tables Available</li>
  </ul>

  <form name="assignTablesForm">
    Input the Table # to assign:
    <input type='text' ng-model='tableNo' placeholder='Table #'>
    <select ng-model="names">
    <option ng-repeat='names in tables.guestlist'>{{names.name}}</option>
    </select>
    <br><br>
    <input type="submit" ng-click="assign(tableNo, names)">
    {{tableNo}}  {{names}}
  </form>
  <h2>Assigned People</h2>
  <ul ng-model='tables.tableCol'>
  Table # {{tableNo}}
  <li ng-repeat='table in tables.tableCol'> {{table}} </li>
  </ul>
  <button type='button' ng-click='commitTable()'>Commit Table</button>


</div>