<div ng-controller='TableController'>

  <h1>Assign Tables</h1>
  <ul ng-model='tables.numTables'>
  <li >{{tables.numTables.length}} Tables Available</li>
  </ul>

  <form name="assignTablesForm">
    Select Table # to assign:
    <select ng-model="tableNo">
    <option ng-repeat='tableNo in tables.numTables'>{{tableNo}}</option>

    </select>
    <br>
    Select Guest to assign:
    <select ng-model="names">
    <option ng-repeat='names in tables.parsedList[0]'>{{names}}</option>
    </select>
    <br><br>
    <input type="submit" ng-click="assign(tableNo, names)">
  </form>
  <h2>Assigned People</h2>
  <ul ng-model='tables.tableCol'>
  Table # {{tableNo}}
  <li ng-repeat='table in tables.tableCol'> {{table}} </li>
  </ul>
  <button type='button' ng-click='commitTable()'>Set Table</button>


</div>