<div ng-controller='TableController'>

  <h1>Assign Tables</h1>
  <br>
  <div ng-model='tables.numTables'>
  <span>{{tables.numTables.length}} Tables Available</span>
  </div>

  <br>
  <form name="assignTablesForm">
    Select Table # to assign:
    <select ng-model="tableNo">
    <option ng-repeat='tableNo in tables.numTables'>{{tableNo}}</option>

    </select>
    <br>
    Select Guest to assign:
    <select ng-model="names">
    <option ng-repeat='names in tables.parsedList[0]'>{{names}}</option>
    </select>
    <br><br>
    <button type="submit" name="Assign Guest" class="input-group-large  btn"
    ng-click="assign(tableNo, names)">Assign Guest</button>
  </form>
  <br>
  <h2>Assigned People</h2>
  <ul ng-model='tables.tableCol'>
  Table # {{tableNo}}
  <li ng-repeat='table in tables.tableCol'> {{table}} </li>
  </ul>
  <button type='button' class='input-group-large btn' ng-click='commitTable()'>Set Table</button>


</div>